@font-face {
    font-family: 'Daydream';
    src: url('Daydream.eot');
    src: url('Daydream.eot?#iefix') format('embedded-opentype'),
        url('Daydream.woff2') format('woff2'),
        url('Daydream.woff') format('woff'),
        url('Daydream.ttf') format('truetype'),
        url('Daydream.svg#Daydream') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

