@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

:root {
    --color-bg: #041763;
    --color-base: #ffffff;
    --color-art: #DE912F;
    --color-border: #DE912F;
    --font-base: 'Nunito', sans-serif;
    --font-art: 'Chewy', cursive;
    --font-alt: 'Nunito', cursive;
}

/*-----Template Utilities-----*/
.tu-bg-color-bg{background-color: var(--color-bg);}
.tu-bg-color-base{background-color: var(--color-base);}
.tu-bg-color-art{background-color: var(--color-art);}

.tu-text-color-bg{color: var(--color-bg);}
.tu-text-color-base{color: var(--color-base);}
.tu-text-color-art{color: var(--color-art);}

.tu-font-base{font-family: var(--font-base);}
.tu-font-alt{font-family: var(--font-alt);}
.tu-font-art{font-family: var(--font-art);}
/*--------------------------*/

.btn-primary{
    background-color: var(--bg-button);
    color: white;
    border-radius: 50px;
    padding: 6px 12px;
    font-weight: 700;
    font-family: var(--font-base);
    font-size: 16px;
}
#thumb-slider {
    background-color: var(--bg-menu);
}

.menu-thumb {
    background-color: var(--bg-menu);
    color: var(--menu-inactive);
    font-weight: var(--fw-thumb);
    font-size: var(--fs-thumb);
    font-family: var(--font-thumb);
}

.menu-thumb.is-active {
    color: var(--bg-menu-active);
}

.menu-thumb__icon {
    font-size: 32px;
}

.content-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: var(--font-base);
    color: white;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
}

.paragraf {
    font-family: var(--font-base);
    color: white;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
}

.wrapper_kepada_yth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
    height: 80px;
    margin: auto;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid white;
    font-weight: 700;
    font-size: 16px;

}

.invited-participant {
    color: var(--color-art);
}


/**--- CSS for Features ---**/
.countdown-container{
    display: flex;
}
.countdown-card{
    width: 70px;
    background-color: var(--color-art);
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.countdown-card__tick{
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-bottom: -10px;
}
.countdown-card__label{
    font-size: 18px;
    color: white;
    font-weight: 700;
}
.maps-iframe{
    width: 300px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
}