@import url('http://localhost:8000/assets/fonts/Bryndan_Write/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
    --color-ripe-lemon: #f5d422;
    --color-carrara: #e5e6dd;
}

ul {
    list-style-type: none;
}

.glass-card {
    padding: 16px;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: .5s ease;
}

.glass-card__title {
    color: var(--color-ripe-lemon);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
}

.home-container {
    width: 100vw;
    height: 100vh;
}

.home__background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('https://ik.imagekit.io/xms0xbojr/Invait/Home_Assets/bg-home-2__Small__3HOC1BssW.png?updatedAt=1685547995232');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgb(0, 0, 0, 0.2);
}


.home__features {
    position: relative;
    height: 600px;
    background-color: azure;
}

.home__top-content {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-top {
    display: flex;
    color: var(--color-ripe-lemon);
    font-size: 64px;
    align-items: center;
}

.logo-top img {
    width: 50px;
}

.logo-top .invait {
    font-family: 'Bryndan Write';
    margin-left: 12px;
}

.home__navbar {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: var(--color-carrara);
    display: flex;
    font-family: 'Bryndan Write';
    width: 100%;
    padding: 4px 0;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.home__navbar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.home__navbar--mobile {
    display: none;
    text-align: center;
    position: relative;

}

.home__navbar--mobile .navbar__item {
    display: none;
}

.home__navbar--mobile .navbar__item--menu {
    display: block;
}

.home__navbar--mobile .x {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 36px;
    z-index: 1;
}

.dot-spacer {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background-color: var(--color-ripe-lemon);
    margin: 0 16px;
}

.navbar__item {
    cursor: pointer;
}

.navbar__item:hover {
    color: var(--color-ripe-lemon);
}


.color-ripe-lemon {
    color: var(--color-ripe-lemon);
}

.footer-section{
    display: flex;
    align-items: start;
    justify-content: center;
    font-family: 'Comfortaa';
    color: var(--color-carrara);
    padding-bottom: 64px;
    margin-top: 100px;
}
.footer-section .left{
    display: flex;
    align-items: center;
    justify-content: end;

}
.footer-section .left, .footer-section .right{
    width: 50%;
    height: 100%;
    padding: 0 8px;
}
.footer-section img.logo-with-text{
    width: 15%;
}
.footer-link{
    cursor: pointer;
    font-weight: 700;
}
.footer-link:hover{
    color: var(--color-ripe-lemon);
}
.copyright-section{
    color: var(--color-carrara);
    padding: 4px 0;
    font-family: 'Comfortaa';
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .home__background {
        background-image: url('https://ik.imagekit.io/xms0xbojr/Invait/Home_Assets/bg-home-2__Small__3HOC1BssW.png?updatedAt=1685547995232');

    }

    .home__navbar {
        display: none;
    }

    .home__navbar--mobile {
        display: block;
    }
    img.logo-invait{
        display: none;
    }
    .home__navbar--mobile.home__navbar--fixed img.logo-invait{
        display: block;
        position: absolute;
        top: 8px;
        left: 20px;
        width: 32px;

    }
    .home__navbar--mobile.home__navbar--fixed {
        position: fixed;
        border-top: none;
    }

    .home__navbar--mobile .navbar__item {
        display: block;
    }

    .footer-section{
        flex-direction: column;
    }
    .footer-section .left, .footer-section .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .footer-section .left{
        margin-bottom: 24px;
    }

}